@font-face{
  font-family: 'Perris';
  src: url('../src/Style/FONT/Alkatra-VariableFont_wght.ttf');
  font-style: normal;
  font-weight: normal;
}

body{
  font-family: 'Perris';
}

button{
  font-family: 'Perris';
  
}
select{
  font-family: 'Perris';
}
input{
  font-family: 'Perris';
}


button{
  min-width: 60px;
  height: 30px;
  color: #fff;
  padding: 5px ;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #FBD786;
  color: #FBD786;
  text-align:center;
  margin:5px;
}
button:hover {
  color: #fff;
}
button:hover:after {
  width: 100%;
}
button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #FBD786;
}

select {
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px -5px #20202050;
  margin:10px;
}


input {
  padding: 10px 40px;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 1px 1px 10px -5px #20202050;
}
h1{
  text-align: center;
  margin:0px;
  padding: 20px;
}


.loader{
  
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f7797d;
  border-bottom: 16px solid #f7797d;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

}